# Ignore everything
*

# But keep .gitignore itself
!.gitignore

# Keep root-level files
!app.py

# Keep folders
!static/
!templates/
!rgbot/
!rgbot/data/
!rgbot/ingest.py
!rgbot/data/faiss_index/

# Keep specific file types
!rgbot/data/*.pdf
!rgbot/data/faiss_index/*.faiss
!rgbot/data/faiss_index/*.pkl

# Ignore Python cache, venvs, system files
__pycache__/
*.pyc
.venv/
uv.lock
*.log
*.env
